<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arunya.aarunya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".producer"
            android:label="Home" />
        <activity
            android:name=".prod_complain"
            android:label="Complain" />
        <activity
            android:name=".prod_faq"
            android:label="FAQ" />
        <activity
            android:name=".news"
            android:label="News" />
        <activity
            android:name=".Profile"
            android:label="Profile" />
        <activity
            android:name=".Support"
            android:label="Support" />
        <activity
            android:name=".Enquiry"
            android:label="Enquiry" />
        <activity
            android:name=".MandiRate"
            android:label="Mandi Rate" />
        <activity
            android:name=".Government_schemes"
            android:label="Government Schemes" />
        <activity
            android:name=".weather"
            android:label="Weather" />
        <activity
            android:name=".chat_activity"
            android:label="Chat" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".LanguageActivity"
            android:label="Language" />
        <activity
            android:name=".NewRegistrationProducerActivity"
            android:label="Registration" />
        <activity
            android:name=".NewRegistrationTransporterActivity"
            android:label="Registration" />
        <activity
            android:name=".RegisterPasswordActivity"
            android:label="Registration" />
        <activity
            android:name=".RegisterAsActivity"
            android:label="Register As" />
        <activity
            android:name=".NewRegistrationConsumerActivity"
            android:label="Registration" />
        <activity
            android:name=".ConsumerBuyActivity"
            android:label="Buy" />
        <activity
            android:name=".TransporterHomeActivity"
            android:label="Home" />
        <activity
            android:name=".TransporterNewsActivity"
            android:label="News" />
        <activity
            android:name=".TransporterViewAssignmentActivity"
            android:label="Assignments" />
        <activity
            android:name=".TransporterConfirmActivity"
            android:label="Confirm Assignment" />
        <activity
            android:name=".TransporterChooseActionActivity"
            android:label="Choose an Action" />
        <activity
            android:name=".TransporterContactActivity"
            android:label="Contacts" />
        <activity
            android:name=".sell"
            android:label="Sell" />
        <activity
            android:name=".consumer"
            android:label="Home" />
        <activity android:name=".PhoneVerification" />
        <activity android:name=".FindTransporter"></activity>
    </application>

</manifest>